<div class="row">
    <div style="display: grid; grid-template-columns: 1fr 1fr;">
        <div style="display: grid;">
            <p style=" font-size: 35px;">
                Empresa
            </p>

            <p-dropdown (onChange)="actualizarMensajes()" [options]="companies" [(ngModel)]="selectedCompany" placeholder="Selecciona una empresa" 
                optionLabel="business_name" [showClear]="true">        
            </p-dropdown>
        </div>
        
    
        <div style="display: grid;">
            <p style=" font-size: 35px;">
                Año
            </p>
        
            <p-dropdown (onChange)="actualizarMensajes()" [options]="anios" [(ngModel)]="selectedAnio" placeholder="Selecciona un año" optionLabel="" [showClear]="true">
            </p-dropdown>
        </div>
    </div>

    <div style="display: grid; grid-template-columns: 1fr 1fr;">
        <div style="display: grid;">
            <p style=" font-size: 35px;">
                Mes
            </p>
        
            <p-dropdown (onChange)="actualizarMensajes()" [options]="meses" [(ngModel)]="selectedMes" placeholder="Selecciona un mes" optionLabel="name" [showClear]="true">
            </p-dropdown>
        </div>
        
        <div style="display: grid;">
            <p style=" font-size: 35px;">
                Frecuencia
            </p>
        
            <p-dropdown (onChange)="actualizarMensajes()" [options]="frecuencias" [(ngModel)]="selectedFrecuencia" placeholder="Selecciona una frecuencia" optionLabel="" [showClear]="true">
            </p-dropdown>
        </div>

        
    </div>

    <div style="display: flex; align-items: end; justify-content: center; margin-top: 30px;">
        <p-button label="Generar" icon="pi pi-check" (onClick)="generarArchivo()">
        </p-button>
    </div>

    <div *ngIf="mensajeError" style="display: flex; align-items: center; justify-content: center; margin-top: 30px;">
        <p-message severity="error" text="Error. Por favor seleccionar una empresa, año, mes y frecuencia"></p-message>
    </div>

    <div *ngIf="mensajeExito" style="display: flex; align-items: center; justify-content: center; margin-top: 30px;">
        <p-message severity="success" text="Éxito. Generando archivo..."></p-message>
    </div>
</div>
