<div style="font-family: Dosis">
    <app-header></app-header>
</div>

<div style="display:flex; width: 100%; height: 100vh; font-family: Dosis; color: white">
    <div style="background: #4B681A ; width: 85%; height: 100vh;">
        <div style="margin-top: 5%;
                margin-left: 15%;
                margin-right: 15%;"
        >
            <router-outlet></router-outlet> 
        </div>
    </div>
    <div style="background: #ACC124; width: 15%; height: 100vh;">
    </div>
         
</div>




