:host ::ng-deep .p-button{
    background: #4B681A;
    color: white
}

:host ::ng-deep .p-button:hover{
    background: #ACC124;
    color: white
}

:host ::ng-deep .p-progressbar-value {
    background: #4B681A
}

:host ::ng-deep .p-fileupload-buttonbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
